/* 슬라이더 기본 스타일 */
.main-banner {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides {
    display: flex;
    width: 300%;
}

.slide {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
}

.slide img {
    width: 100%;
    height: auto;
}

/* 배너 텍스트 */
.banner-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: right;
    padding: 0px;
    border-radius: 10px;
}

.banner-text h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner-text h1 {
    font-size: 5em;
}

.banner-text p {
    font-size: 2em;
}

.banner-text button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}